<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Cadastrar Pessoa</h4></div>
  </div>
  <div ng-messages="pessoaForm.$error" ng-show="pessoaForm.$dirty" role="alert" class="text-center">
    <div ng-message="required" class="alert alert-danger">Campos com * são de preenchimento obrigatório!</div>
    <div ng-message="email" class="alert alert-danger">Email inválido!</div>
  </div>
  <div class="alert alert-danger text-center" data-ng-show="mensagensErro.length">
    <div data-ng-repeat="erro in mensagensErro">{{ erro }}</div>
  </div>
  <div class="alert alert-success text-center" data-ng-show="mensagemSucesso">{{mensagemSucesso}}</div>
  <div class="clearfix"></div>
</div>

<ul class="nav nav-tabs" role="tablist" id="abas">
  <li role="presentation" class="active"><a data-target="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
  </li>
  <li role="presentation"><a data-target="#agenda" aria-controls="agenda" role="tab" data-toggle="tab">Agenda</a></li>
</ul>
<br/><br/>
<div class="tab-content">
  <div id="dados" role="tabpanel" class="tab-pane active row">
    <form id="pessoaForm" name="pessoaForm" class="form-horizontal">
      <div class="form-group">
        <label for="codigo" class="col-sm-2 control-label">Código:</label>

        <div class="col-sm-10">
          <input type="text" class="form-control disabled" id="codigo" readonly ng-model="pessoa.uid">
        </div>
      </div>
      <div class="form-group">
        <label for="nome" class="col-sm-2 control-label">Nome: <span style="color: #ac2925">*</span></label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="nome" placeholder="Nome" ng-model="pessoa.nome" required/>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>

        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="pessoa.email"/>
        </div>
      </div>
      <div class="form-group">
        <label for="telefone" class="col-sm-2 control-label">Telefone:</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="telefone" placeholder="Telefone" ng-model="pessoa.telefone"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Função: <span style="color: #ac2925">*</span></label>

        <div class="col-sm-offset-2 col-sm-10" style="margin-top: -30px;">
          <label class="radio-inline">
            <input type="radio" name="funcao" id="funcao1" ng-model="pessoa.funcao" value="MINISTRO" required/> MINISTRO
          </label>
          <label class="radio-inline">
            <input type="radio" name="funcao" id="funcao2" ng-model="pessoa.funcao" value="COROINHA" required/> COROINHA
          </label>
          <label class="radio-inline">
            <input type="radio" name="funcao" id="funcao3" ng-model="pessoa.funcao" value="PADRE" required/> PADRE
          </label>
        </div>
      </div>
      <div class="form-horizontal">
        <label class="col-sm-12">Escolha os dias da semana em que estará disponível:</label>

        <div class="col-sm-offset-2 col-sm-12 checkbox-inline">
          <label ng-repeat="s in semana">
            <input type="checkbox" class="checkbox-inline" style="margin-left: 25px;" ng-checked="s.escolhido"
                   ng-model="s.escolhido"> <span style="margin-left: 45px;">{{s.dia}}</span>
          </label>
        </div>
      </div>
      <div class="row text-center col-sm-12">
        <button ng-disabled="pessoaForm.$invalid" type="submit" ng-click="salvar()" class="btn btn-primary">Salvar
        </button>
        <a href="#/listaPessoa" class="btn btn-default"> Voltar </a>
      </div>
    </form>
  </div>

  <div role="tabpanel" class="tab-pane" id="agenda">
    <div ui-calendar="uiConfig.calendar" class="span12 calendar" ng-model="eventos"></div>
  </div>

</div>
<div class="clearfix"></div>
